.type-error {
  position: absolute;
  left: 99%;
  top: 5%;
  width: 4rem;
  text-align: left;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.type-error:hover {
  width: 8rem;
  text-wrap: wrap;
  z-index: 10;
}