.page {
  width: 100%;
  min-width: 600px;
  height: 100%;
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.page-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 1rem;
  justify-content: space-between;
}

.page-title .h1 {
  width: 100%;
}

.back-button {
  height: fit-content;
  align-items: start;
  justify-self: end;
}